body{
    display:flex ;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.password_container{
    background-color: aquamarine;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 3);
    margin: 10px;
}
.input_container{
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 1px;
}
.fa-copy{
    cursor: pointer;
    opacity: .3;
}
.fa-copy:hover{
    opacity: 0.7;
}

.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(39, 71, 71)
}

.btn:active{
    transform: scale(.90);
}

.alert_container{
    position: fixed;
    width: 350px;
    height: 50px;
    background-color: rgb(105, 110, 160);
    border-radius: 10px;
    right: 20px;
    bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}
.active.alert_container{
    right: -400px;
}